.slide-in-left {
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.6s ease-out;
    transform: translateX(-60%);
}

.slide-in-left.slide-in-left-show {
    opacity: 1;
    transform: translate(0, 0);
}

*{
    scroll-behavior: smooth;
}

.expand {
    scale: 0.5;
    opacity: 0;
    transition: scale 1.2s, opacity 1s;
}

.expand.expand-show {
    scale: 1;
    opacity: 1;
}
